<%- include('header') %>

<div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
        <form class="ui form segment" method="post">
            <div class="field required">
                <label>Username</label>
                <input type="text" name="name">
            </div>
            <div class="field required">
                <label>Password</label>
                <input type="password" onkeyup="this.value=this.value.replace(/\D/g,'')" name="password">
            </div>
            <div class="field required">
                <label>Repeat Password</label>
                <input type="password" onkeyup="this.value=this.value.replace(/\D/g,'')" name="repassword">
            </div>
            <div>
                <input type="submit" class="ui button fluid" value="Signup">
            </div>
        </form>
        <div class="ui form segment">
            <div class="center-filed">
                <p>
                    Have an account?
                    <a href="/login">Login</a>
                </p>
            </div>
        </div>
    </div>
</div>

<%- include('footer') %>